.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__image:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-btn_active {
  background-image: url(../images/liked-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 0.85;
}

.card__delete-btn {
  /*hover state and finish styling*/
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: transparent;
  background-image: url(../images/default.svg);
  border: none;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  opacity: 1;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 1.2;
  flex: 1;
  min-width: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 628px) {
  .card__image {
    height: 288px;
    max-width: 288px;
  }
}
