.footer {
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  display: flex;
  justify-content: center;
}

.footer__text {
  width: 104px;
  height: 16px;
  display: flex;
  align-items: center;
  margin: 60px 0;
  color: rgba(33, 33, 33, 0.7);
}
