.footer {
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  display: flex;
  justify-content: center;
}

.footer__text {
  font-size: 16ox;
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 60px 0;
  color: rgba(33, 33, 33, 0.7);
}
