.modal {
  z-index: 1111;
  visibility: hidden;
  background-color: #00000080;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn_type_preview {
  /*TODO - SETUP CORRECT BACKGROUND IMAGE*/
  background-image: url(../images/preview-close.svg);
  border: none;
  top: 0;
  right: -52.5px;
  cursor: pointer;
  background-size: contain;
  transition: opacity 0.3s ease;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.8;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  line-height: 1.1;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #21212166;
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.modal__input:hover {
  opacity: 0.8;
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  margin-right: auto;
  margin-top: auto;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  height: 52px;
  width: 149px;
  max-width: 156px;
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  /*finish styling caption*/
  border-radius: 8px;
  color: white;
  display: inline-block;
  background-color: #212121;
  padding: 4px 8px;
  line-height: 120%;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
    display: block;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 627px) {
  /*placed below media q 480 to avoid being overwritten             */
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}
