.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  line-height: 1.1;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #21212166;
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.modal__input:hover {
  opacity: 0.8;
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  margin-right: auto;
  margin-top: auto;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  height: 52px;
  width: 149px;
  max-width: 156px;
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 628px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
    display: block;
  }

  .modal__container {
  }

  .modal__close-btn {
    max-width: 40px;
    max-height: 40px;
    /*i'm unsure what i would need to add for the button*/
  }

  .modal__title {
    font-size: 20px;
  }
}
