.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: rgba(33, 33, 33, 0.7);
}
.profile__edit-btn {
  margin-top: auto;
  max-width: 107.34px;
  font-size: 16px;
  opacity: 70%;
  color: rgba(33, 33, 33, 1);
  background: none;
  outline: none;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  gap: 8px;
  align-items: center;
}

.profile__edit-btn:hover {
  opacity: 0.85;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  height: 52px;
  width: 149px;
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 628px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin: 12px 0 6px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    font-size: 20px;
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__edit-btn {
    max-width: 300px;
  }

  .profile__add-btn {
    margin: 0;
    width: 280px;
    height: 52px;
    padding: 16px;
  }
}
